.figure {
    position: relative;
    left: 0;
    top: 0;
}
.figcaption {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: orange;
    color: white;
    font-family: verdana;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    margin-left: 20px;
    margin-top: 20px;    
    margin-bottom: 20px;
    background: white;
}
.articleName {
    margin-top: 20px;
    margin-left: 20px;
    font-family: verdana;
    font-size: 25px;
    font-weight: bold;
    color: RoyalBlue;
}
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.price {
    padding-right: 20px;
    padding-left: 20px;
    color: orange;
    font-family: verdana;
    font-weight: bold;
    font-size: 25px;
    align-self: center;
}
.buyButton {
    background: #2db92d;
    font-family: verdana;
    font-size: 25px;
    font-weight: bold;
    color: white;
    width: 100px;
    height: 50px;
    border: 0.5px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.elementToFadeInAndOut {
    width:30px;
    height: 20px;
    background: orange;
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
    color: white;
    font-family: verdana;
    font-weight: bold;
}
.header {
    width: auto;
    height: 40px;
    background: orange;
    color: white;
    font-family: verdana;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-radius: 5px 5px 0px 0px;
    justify-content: space-between;         
}
.headerRight {
    display: flex;
    flex-direction: row;
    width: 60px;
}
.body {
    border-radius: 5px;
    background-color:LightGrey; 
    margin-top: 0px; 
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}