<body class="body">
<div class="header">
  Cool logo here =)
  <div class="headerRight">    
    <img src="/assets/cart.png">
    <div id="fadeInAndOut" class=""></div>     
  </div>
</div>
<div  fxLayout="row" fxLayoutWrap>
  <div *ngFor="let article of articleArray" class="card" [class.selected]="article === selectedArticle">            
      <div class="figure">
        <img src={{article.image}}>
          <figcaption class="figcaption">                
            {{article.nbr}}                
          </figcaption>              
      </div>    
      <div class="articleName">
        {{article.name}}
      </div>
      <div class="bottom">
        <div>             
          <button (click)="addToCart(article)" class="buyButton" ng-model="myCheck">
            BUY 
          </button>
        </div>      
        <div class="price">
          $1337
        </div>        
       </div>
  </div>  
</div>
</body>
